<!doctype html>
<head>
</head>
<body>
    <form action="" method="POST">
        <h3>Statement</h3>
        <input name="statement">
        <h3>Answer</h3>
        <input name="answer">
        <h3>Solution</h3>
        <input name="solution">
        <h3>Grade</h3>
        <input name="grade">
        <br>
        <input type="submit" value="Create">
    </form>
</body>