extends ../../views/template.pug

block title 
  | Вход
  
block content
      .registration_block
        h1(class = "register_title") Вход
        form(class = "register_form" action="" method="POST")
          label Электронная почта
          input(name="email" type="email") 
          label Пароль
          input(name="password" type="password")
          input(class="register_btn" type="submit" value="Войти")    
        a(class = "register_link" href="./users") К списку пользователей

