<!DOCTYPE html>
<html>
<head>
  <title>Вход</title>
  <meta charset="utf-8" />
</head>
<body>
  <h1>Вход</h1>
  <form action="" method="POST">

    <label>Электронная почта</label>
    <input name="email" type="email"/><br/>
    <label>Пароль</label>
    <input name="password" type="password"/><br/>

    <input type="submit" value="Отправить" />
  </form>
  <a href="./users">К списку пользователей</a>
</body>
<html>
