doctype html
html
    head
        title Регистрация
        meta(charset = "utf8")
        meta(name = 'descripton' content = 'Описание страницы')
        mets(name = 'viewport' content = 'width = device-width, initial-scale = 1.0')
        meta(http-equiv = 'X-UA-Compatible', content = 'IE=Edge')
        link(rel="stylesheet" href="/assets/css/style.css")
        link(rel="stylesheet" href="/assets/css/register.css")
        link(rel="stylesheet" href="/assets/css/navbar.css")
    body
    include ../../public/includes/navbar.pug
      .register_block
        h1 Вход
        form(action="" method="POST")
          label Электронная почта
          input(name="email" type="email") 
          label Пароль
          input(name="password" type="password")
          input(type="submit" value="Отправить")
        
        a(href="./users") К списку пользователей
      
        
      
