doctype html
html
    head
        title Регистрация
        meta(charset = "utf8")
        meta(name = 'descripton' content = 'Описание страницы')
        mets(name = 'viewport' content = 'width = device-width, initial-scale = 1.0')
        meta(http-equiv = 'X-UA-Compatible' content = 'IE=Edge')
        link(rel="stylesheet" href="/assets/css/style.css")
        link(rel="stylesheet" href="/assets/css/register.css")
        link(rel="stylesheet" href="/assets/css/navbar.css")
    body
      include ../../public/includes/navbar.pug
      .registration_block
        h1(class = "register_title") Регистрация
        form(class = "register_form" action="" method="POST")
          label Фамилия
          input(name="surname")
          label Имя
          input(name="name")
          label Отчество
          input(name="patronymic")
          label Пароль
          input(name="password" type="password")
          label Электронная почта
          input(name="email" type="email") 
          label Телефон
          input(name="telephone" type="tel") 
          input(class="register_btn" type="submit" value="Отправить")    
        a(class = "register_link" href="./users") Уже зарегистрирован
      .footer
        h3(class = "footer_year") 2020
