<!DOCTYPE html>
<html>
<head>
    <title>Мой профиль</title>
    <meta charset="utf-8" />
</head>
<body>

    <h1>Мой профиль</h1>

    <label>Электронная почта</label><br/>
    <label>#{mainInfo.email}</label><br/>

</body>
<html>
