<!DOCTYPE html>
<html>
<head>
    <title>Профиль пользователя #{mainInfo.name}</title>
    <meta charset="utf-8" />
</head>
<body>

    <h1>Профиль пользователя #{mainInfo.name}</h1>

    <label>Электронная почта</label><br/>
    <label>#{mainInfo.email}</label><br/>

</body>
<html>
