extends ../../views/template.pug

block title 
  | Регистрация
  
block content
  .registration_block
      h1(class = "register_title") Регистрация
      form(class = "register_form" action="" method="POST")
        label Фамилия
        input(name="surname")
        label Имя
        input(name="name")
        label Отчество
        input(name="patronymic")
        label Пароль
        input(name="password" type="password")
        label Электронная почта
        input(name="email" type="email") 
        label Номер телефона
        input(name="telephone" type="tel") 
        input(class="typical_btn" type="submit" value="Отправить")    
      a(class = "register_link" href="./login") Уже зарегистрирован

      
        
      
      
