extends ../../views/template.pug

block title 
  | Список пользователей
  
block content
    .content
        include ../../public/includes/leftside-menu.pug
        .users_list
            h1.users_title Список пользователей
            .users_list_table    
                h3 Имя
                h3 Почта
                each user in users
                    p #{user.name}
                    p #{user.email}
