doctype html
html
    head
        title Регистрация
        meta(charset = "utf8")
        meta(name = 'descripton' content = 'Описание страницы')
        mets(name = 'viewport' content = 'width = device-width, initial-scale = 1.0')
        meta(http-equiv = 'X-UA-Compatible' content = 'IE=Edge')
        link(rel="stylesheet" href="/assets/css/style.css")
        link(rel="stylesheet" href="/assets/css/register.css")
        link(rel="stylesheet" href="/assets/css/navbar-footer.css")
    body

<h1>Список пользователей</h1>
<table>
<tr><th>Имя</th><th>Почта</th></tr>
each user in users
<tr><td>#{user.name}</td><td>#{user.email}</td></tr>
</table>
</body>
<html>