.main_leftside_block{
    /*background:#d1ddfd;*/
    width: 120px;
    height:100%;
    padding: 20px 5% 10px 25px;
    list-style: none;
}
.downfall1, .downfall2, .downfall3{
    display: flex;
    flex-wrap: nowrap;
    background: transparent;
    border: none;
    outline:none;
    cursor:pointer;
    font-size: 19px;
    margin-left: -7px;
    margin-top: 20px;
}
.right_arrow{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 1px;
}
#downfall_li_1, #downfall_li_2, #downfall_li_3{
    display:none;
}
li a{
    font-size: 18px;
  }
.main_leftside_block li{
    margin-top: 10px;
}
.profile_title_link{
    font-size: 19px;
}
