.my_profile{
    display: flex;
    flex-direction: column;
    margin:20px 380px;

}
.my_profile_content{
    height: min-content;
    width: 100%;
    display: flex;
}
.my_profile_box{
    align-self:center;
    margin:10px auto;
    width: 700px;
    background: #e1e8fc;
    height: 100%;
    border: 1.5px #e1e8fc solid;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 60px 40px 40px 40px 40px 40px 40px;   
}
.my_profile_title{
    text-align: center;
}
.my_profile_info{
    float: right;
    margin-right: 100px;
}
.edit_profile_link{
    text-align: end;
    margin:10px 20px;
}