.my_profile{
    display: flex;
    justify-content: center;
}

.my_profile_box{
    margin-top: 70px;
    width: 60%;
    height: 100%;
    background: #C4D2F9;
    border:2px #96ADF3 solid;
    border-radius: 5px;   
}
.my_profile_title{
    text-align: center;
}