  .registration_block {
    background: #C4D2F9;
    width: 35%;
    height: max-content;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    margin:100px auto;
    border:2px #96ADF3 solid;
    border-radius:5px;
    padding:20px 0 20px 0px;
  }       
  input {
    width:370px;
    height:20px;
    margin-bottom: 15px;
  }
  .register_btn{
    width:200px;
    height:30px;
    display:flex;
    justify-content:center;
    align-self:center;
    margin-top:5px;
    font-size:1em;
    border:2px #96ADF3 solid;
    border-radius:2px;
    background:white;
    outline:none;
    cursor: pointer;
  }
  .register_form {
    width:390px;
    display: flex;
    align-items: start;
    flex-direction:column;
  }
  .register_title{
    margin-top: 0px;
  }
  .register_link{
    font-size:17px;
    text-decoration:underline;
  }