.registration_block {
    background: #dde7ff;
    width: min-content;
    height: min-content;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    margin:100px auto;
    border-radius:5px;
    padding:20px 40px 20px 40px;
    }
.register_form {
    width:390px;
    display: flex;
    align-items: start;
    flex-direction:column;
    }
.register_title{
    margin-top: 0px;
    }
.register_link{
    margin-top: 20px;
    font-size:17px;
    }