html{
  height: 100%;
}
body{
  height: 100%;
  margin:0;
  background: #f6f8fa;
  display: flex;
  flex-direction: column;
}
*{
  font-family:"consolas";
}
a{
  text-decoration:none;
  color:black;
}
