.main_leftside_block
    ul
        li <a class="profile_title_link" href="/user/my-profile"> Профиль</a>
        li <button class="downfall1" onclick="downfall_button_1()")>Задачи<i class="right_arrow"></i></button>
            ul(id="downfall_li_1")
                li <a href="find-tasks.pug">Искать</a> 
                li <a href="/task/create">Создать</a> 
                li <a href="my-tasks.pug">Мои задачи</a> 
        li <button class="downfall2" onclick="downfall_button_2()">Листы<i class="right_arrow"></i></button>
            ul(id="downfall_li_2")
                li <a href="create-lists">Создать</a> 
                li <a href="my-lists">Мои листы</a> 
        li <button class="downfall3" onclick="downfall_button_3()">Папки<i class="right_arrow"></i></button>
            ul(id="downfall_li_3")
    script
        include /scripts/downfall.js